*{
	margin:0;
}
h1{
	background-color:#0033FF ;
	color: #00FFFD ;
	font: oblique bold 190% cursive;
}
img.llo{
  width: 280px;
  height: 280px;
}
a{
	color:#0033FF ;
	font: oblique bold 165% cursive;
}