*{
}
h1{
	background-color:#7766C8;
	color: #50DFBC;
	font: oblique bold 190% cursive;
}
}
h3{
	font: oblique bold 130% cursive;
}
img.mil{
  width: 280px;
  height: 280px;
}
img.odi{
  width: 280px;
  height: 280px;
}
img.has{
  width: 280px;
  height: 280px;
}
img.subti{
width: 280px;
  height: 280px;
}
img.ojo{
width: 280px;
  height: 280px;
}
img.demi{
width: 280px;
  height: 280px;
}
img.le{
width: 280px;
  height: 280px;
}
img.te{
width: 280px;
  height: 280px;
}
a{
	color:#001DFF ;
	font: oblique bold 165% cursive;
}